body{
    font-family: "Roboto", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid gray;
    margin: 0;
}
.logo{
    display: inline-block;
    color: blue;
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-links ul{
    margin:0;
}
.nav-links li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: gray;
    font-weight:700;
    padding: 10px 5px;
    line-height: 1rem;
}
.btn{
    color: #439FD5;
    padding: 5px 10px;
    border: 3px solid #439FD5;
    border-radius: 5px;
}
main{
    background-color: #F2F5F7;
    text-align: center;
}
.hero>h1:first-child{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}
.hero>div{
    font-size: 1.2rem;
    margin-bottom: 20px;
}