.hero{
    height:600px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.nav-link{
    margin: auto 20px ;
}
.nav-link.active{
    border-bottom:3px solid lightgreen ;
}
.hero .wrapper{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.icons{
    background-color: greenyellow;
    height: 100px;
}

.icons i{
    font-size: 2rem;
}

.icons .row>div:not(div:last-child){
    border-right: 2px solid white;
}