body {
  background-image: url("/exerciseXP-swapi/img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.sw-logo {
  height: 200px;
}

#characterInfoBox {
  border-radius: 20px;
  height: 400px;
  width: 600px;
  margin: 40px;
  border: 5px solid yellow;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 30px;
}

#loadCharacter {
  border: 2px solid yellow;
  height: 50px;
  width: 300px;
  font-size: 30px;
  border-radius: 10px;
  font-weight: 700;
}

.loading,
#errorMessage {
  color: white;
  display: None;
}
