.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.center * {
    margin: 20px;
    text-align: center;
}

.center img{
    border: 10px orangered solid ;
    max-width: 80%;
}

.red{
    color: red;
}
.red-border, table{
    width: 100%;
}

.red-border{
    border: 2px solid red;
}

table{
    border-spacing: 2px;
    width:100%;
}
th,td{
    border: 2px solid black;
    padding: 5px 5px;
}