body {
  height: 95vh;
  background-color: #ff4c55;
  width: 100%;
}

.container {
  text-align: center;
  margin: auto;
  font-family: "roboto", sans-serif;
}

h1 {
  color: white;
}

.taskName {
  width: 400px;
  height: 50px;
  font-size: 2rem;
  border: none;
}

.input-container {
  position: relative;
  width: 400px;
  margin: auto;
}

#submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 1.5rem;
  color: blue;
  background-color: white;
  border: none;
}

.listTasks {
  background-color: white;
  width: 400px;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 20px;
}

.listTasks ul {
  padding: 0;
  margin: 0;
}

.listTasks li {
  list-style-type: none;
  text-align: left;
  font-size: 2rem;
  margin: 10px 20px;
  padding: 10px 0;
  border-bottom: 1px solid blue;
}

.listTasks li > i:first-child {
  color: red;
  font-style: normal;
}

.listTasks li > input[type="checkbox"] {
  zoom: 1.5;
}
